@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

figure,
article {
  margin: 1.1rem;
}

img {
  display: block;
  width: 100%;
}

.banner {
  display: flex;
  flex-wrap: wrap;
}

header,
.group {
  text-align: center;
}

.head {
  margin: 0;
  font-size: 2rem;
}

.gardens {
  margin: 0;
  font-size: 1.125rem;
}

a {
  color: #3783a3;
  font-size: 1.125rem;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-bottom: 1rem;
  margin-top: .25rem;
}

li {
  display: inline-block;
}

.essence {
  text-align: center;
}

.script {
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
}

.description {
  text-align: center;
  width: 89%;
  font-size: 1rem;
  margin: .5rem 1rem 2rem;
}

hr {
  color: #e2e2e2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 30em;
}

.view-pic {
  margin-top: 1.7rem;
}

.title {
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.viewing {
  font-weight: bold;
  margin: 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  border: .2rem solid #3783a3;
  border-radius: .3rem;
  padding: .5em 1em .6em;
  padding-right: 2.5rem;
  font-size: 1rem;
}

.content {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 101%;
}

footer {
  text-align: center;
}

@media only screen and (min-width: 38em) {

  header,
  .group {
    text-align: left;
  }

  .group {
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: column;
  }

  nav {
    display: flex;
    justify-content: flex-end;
  }

}
